<%- include("templates/header") %>

<script type="text/javascript"> 
    $.cloudinary.config({ cloud_name: '<%= process.env.CLOUDINARY_CLOUD_NAME %>', secure: true});
</script>

<div class="user-info">
    <% if (image_uuid) { %>
        <div class="image">
            <a href="/profile/upload/image"><script type="text/javascript">document.write($.cloudinary.imageTag('<%- image_uuid %>', {height: 100, width: 100, crop: "fit"}).toHtml());</script></a>
        </div>
    <% } else { %>
        <form action="/profile/upload/image" method="get">
            <button style="margin-bottom: 7px;">Upload PFP</button>
        </form>
    <% } %>
    <h1><%= username %></h1>
    
</div>

<div class="option-btns">
    <div class="upload-btn">
        <form action="/profile/upload" method="get">
            <button>Upload</button>
        </form>
    </div>
</div>

<div class="profile-divider"></div>

<br>



<%- include("templates/footer") %>