<%- include("templates/header") %>

<!-- <div class="home-title">
    <h1>Thread</h1>
</div> -->

<div class="thread-post">
    <div class="thread-info">
        <h1 id="post-title"><%= results[0].title %></h1>
        <h3 id="post-info">Views: <%= results[0].views %> &ensp; Comments: ## &ensp; Likes: <%= results[0].likes %></h3>
    </div>

    <br>

    <div class="desc-area">
        <div name="desc" id="desc" class="desc"><%= results[0].description %></div>
    </div>
</div>

<br>

<div class="thread-options">
    <div class="like-comment">
        <a href="/thread/<%= results[0].short_url %>/like">Like</a> /
        <a id="thread_comment">Comment</a>
    </div>
</div>

<div class="comment-section" style="display: none;" id="thread-comment-textarea">
    <div class="comment-area">
        <form action="/thread/<%= results[0].short_url %>/<%= results[0].thread_id %>/comment" class="text" method="POST">
            <textarea name="comment_text" id="comment_text" cols="60" rows="10"></textarea>
            <button>Post</button>
        </form>
    </div>
</div>

<div class="profile-divider"></div>

<br>

<% let i = 0 %>
<% let textarea_num = 0 %>
<% for (i = 0; i < comments.length; i++) { %>
    <%- include('templates/thread_comments', {comments: comments[i], results: results, textarea_num: textarea_num}) %> 
    <% textarea_num += comments[i].length %>
<% } %>

<script>
    document.getElementById("thread_comment").onclick = function() {
        var secondDiv = document.getElementById("thread-comment-textarea");
        if (secondDiv.style.display === "none") {
            secondDiv.style.display = "block";
        } else {
            secondDiv.style.display = "none";
        }
    };
    const list = document.querySelectorAll(".comment_reply")
    for (let i = 0; i < list.length; i++) {
        list[i].onclick = function() {
            var secondDiv = document.getElementById("comment-reply-textarea-" + i);
            if (secondDiv.style.display === "none") {
                secondDiv.style.display = "block";
            } else {
                secondDiv.style.display = "none";
            }
        }
    }
</script>

<%- include("templates/footer") %>