<%- include("templates/header") %>

<!-- <div class="home-title">
    <h1>Thread</h1>
</div> -->

<div class="thread-post">
    <div class="thread-info">
        <h1 id="post-title"><%= results[0].title %></h1>
        <h3 id="post-info">Views: <%= results[0].views %> &ensp; Comments: ## &ensp; Likes: <%= results[0].likes %></h3>
    </div>

    <br>

    <div class="desc-area">
        <div name="desc" id="desc" class="desc"><%= results[0].description %></div>
    </div>
</div>

<br>

<div class="thread-options">
    <div class="like-comment">
        <a href="/thread/<%= results[0].short_url %>/like">Like</a> /
        <a href="#" id="toggleBtn">Comment</a>
    </div>
</div>

<div class="profile-divider"></div>

<br>

<div class="comment-section" style="display: none;" id="display-textarea">
    <div class="comment-area">
        <form action="/thread/<%= results[0].short_url %>/<%= results[0].thread_id %>/comment" class="text" method="POST">
            <textarea name="comment_text" id="comment_text" cols="60" rows="10"></textarea>
            <button>Post</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("toggleBtn").onclick = function() {
        var secondDiv = document.getElementById("display-textarea");
        if (secondDiv.style.display === "none") {
            secondDiv.style.display = "block";
        } else {
            secondDiv.style.display = "none";
        }
    };
</script>

<%- include("templates/footer") %>