<% let i = 0 %>
<div class="parent-child">
    <% for (i = 0; i < comments.length; i++) { %>
        <div class="comment" style="margin-left: <%= comments[i].depth * 50%>px;">

            <!-- Comment heading start -->
            <div class="comment-heading">
          
              <!-- Comment voting start -->
              <div class="comment-voting">
                <form action="/thread/<%= results[0].short_url %>/like" method="GET">
                    <button type="submit">Like</button>
                </form>
              </div>
              <!-- Comment voting end -->
          
              <!-- Comment info (author, # of votes, time added) start -->
              <div class="comment-info">
                <div class="image-comment">
                    <script type="text/javascript">document.write($.cloudinary.imageTag('<%= comments[i].image_uuid %>', {height: 25, width: 25, crop: "fit"}).toHtml());</script>
                </div>
                <p class="comment-author">
                    <%= comments[i].username %>
                </p>
              </div>
              <!-- Comment info (author, # of votes, time added) end -->
            </div>
            <!-- Comment heading end -->
          
            <!-- Comment body start -->
            <div class="comment-body">
              <p>
                <%= comments[i].comment %>
              </p>
              <a id="comment_reply" class="comment_reply">Reply</a>
            </div>
            <div class="comment-section" style="display: none;" id="comment-reply-textarea-<%= textarea_num %>">
                <div class="comment-area">
                    <form action="/thread/<%= results[0].short_url %>/<%= results[0].thread_id %>/<%= comments[i].comment_id %>/comment" class="text" method="POST">
                        <textarea name="comment_text" id="comment_text" cols="60" rows="10"></textarea>
                        <button>Post</button>
                    </form>
                </div>
            </div>
        </div>
    <% textarea_num ++ %>
    <% } %>
</div>

